<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/plantillas/plantilla :: css-js"></head>

<body class="hold-transition skin-red sidebar-mini tipografia-contenido">
<div class="wrapper">

    <div th:replace="/plantillas/plantilla :: diseño_pagina"></div>

    <th:block th:include="/plantillas/menu_opciones_captaciones"></th:block>

    <!-- CONTENIDO DE LA PAGINA -->
    <div>
        <section class="main-footer titulo">
            <strong><span th:text="'[ Planillas de Datos ] - Politécnico ' + ${datos_centro.getNombCentro()}"/></strong>
        </section>

        <div class="content-wrapper">
            <section class="container-fluid padding-contenido">

                <div class="container-fluid">
                    <div class="row">
                        <div class="text-right col-12">

                            <a th:href="@{/vaciar_planillas_datos(idC=${datos_centro.getIdCentro()})}"
                               class="btn btn-danger" title="Eliminar todo" onclick="return confirmarVaciar()"
                               th:hidden="${ocultar}">
                                <img th:src="@{/img/vaciar.png}"> Eliminar todo
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped text-center tipografia-contenido mt-1"
                       id="tablaPlanillasDatos">
                    <thead>
                    <tr class="estilo-tabla btn-primary">
                        <th>No.</th>
                        <th>Especialidad</th>
                        <th>Escolaridad</th>
                        <th>Duración</th>
                        <th>Nivel</th>
                        <th>Curso</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-truncate" th:each="pd,i : ${planillas}">
                        <td th:text="${i.index+1}">Datos</td>
                        <td th:text="${pd.getEspecialidadCentro().getEspecialidad().getNombEspecialidad()}">Datos</td>
                        <td th:text="${pd.getEspecialidadCentro().getEscolaridad().getTipoEscolaridad()}">Datos</td>
                        <td th:text="${pd.getEspecialidadCentro().getDuracion().getTipoDuracion()}">Datos</td>
                        <td th:text="${pd.getEspecialidadCentro().getEspecialidad().getNivel().getTipoNivel()}">Datos
                        </td>
                        <td th:text="${pd.getEspecialidadCentro().getCurso().getTipoCurso()}">Datos</td>
                        <td>
                            <a th:href="@{/editar_planilla_datos(idP=${pd.getIdPlanilla()})}"
                               class="btn_accion btn-primary" title="Editar"><img th:src="@{/img/editar.png}"/></a> <a
                                th:href="@{/del_planilla_datos(idP=${pd.getIdPlanilla()})}"
                                class="btn_accion btn-danger" onclick="return confirmarEliminar()" title="Eliminar"><img
                                th:src="@{/img/eliminar.png}"/>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

    </div>

    <div th:replace="/plantillas/plantilla :: footer"></div>

</div>
</body>
</html>