<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantillas/plantilla :: css-js"></head>

<body class="hold-transition skin-red sidebar-mini tipografia-contenido">
<div class="wrapper">

    <div th:replace="/plantillas/plantilla :: diseño_pagina">&nbsp;</div>

    <th:block th:include="/plantillas/menu_opciones_captaciones"></th:block>

    <div>
        <section class="main-footer titulo">
            <strong><span th:text="'[ Resumen Provincial ] - Rango de Edades' + ${titulo}"/></strong>
        </section>

        <div class="content-wrapper">
            <section class="container-fluid padding-contenido">

                <div th:if="${error}" class="container-fluid">
                    <div id="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><span class="tipografia-error" th:text="${mensaje_error}"/></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="text-right col-12">

                            <a th:href="@{/rango_prov_pdf}"
                               class="exportar btn-outline-warning" title="Exportar a PDF"><img
                                    th:src="@{/img/pdf.png}"/>
                            </a>

                            <a th:href="@{/rango_prov_excel}"
                               class="exportar btn-outline-warning" title="Exportar a Excel"><img
                                    th:src="@{/img/excel.png}"/>
                            </a>
                        </div>
                    </div>
                </div>

                <form th:action="@{/rango_prov}"
                      method="post">

                    <div class="container-fluid" th:hidden="${ocultar}">
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-lg-9">
                                <label for="mcpios"><strong>Provincia</strong></label>
                                <select class="form-control" id="mcpios" name="mcpios" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="prov : ${provincias}"
                                            th:text="${prov.getNombProvincia()}"
                                            th:value="${prov.getIdProvincia()}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <button class="text-right btn btn-warning mt-4" type="submit">
                                    <img th:src="@{/img/rangoEdades.png}"> Ver Rango
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 container-fluid" th:hidden="${oculto}">
                        <div id="tabs4">
                            <ul>
                                <li><a href="#tabs4-1">Diurno</a></li>
                                <li><a href="#tabs4-2">V/Nocturno</a></li>
                            </ul>
                            <div id="tabs4-1">
                                <div class="container-fluid text-center">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for="matriculaTotal"> <strong>Matrícula Total</strong></label>
                                            <input type="text" class="form-control" id="matriculaTotal"
                                                   name="matriculaTotal" disabled="true"
                                                   th:placeholder="${rango.getDiurno().getMatriculaRangoTotal()}"
                                                   th:value="${rango.getDiurno().getMatriculaRangoTotal()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="menos15"> <strong>Menores de 15 años</strong></label>
                                            <input type="text" class="form-control" id="menos15"
                                                   name="menos15"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getTotalMenos15()}"
                                                   th:value="${rango.getDiurno().getTotalMenos15()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="entre15_16"> <strong>Entre 15 y 16 años</strong></label>
                                            <input type="text" class="form-control" id="entre15_16"
                                                   name="entre15_16"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getTotalEntre15_16()}"
                                                   th:value="${rango.getDiurno().getTotalEntre15_16()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="mas16"> <strong>Mayores de 16 años</strong></label>
                                            <input type="text" class="form-control" id="mas16"
                                                   name="mas16"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getTotalMayores16()}"
                                                   th:value="${rango.getDiurno().getTotalMayores16()}"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col">
                                            <label for="matriculaTotalHembras"> <strong>Matrícula Total Hembras</strong></label>
                                            <input type="text" class="form-control" id="matriculaTotalHembras"
                                                   name="matriculaTotalHembras"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getMatriculaRangoTotalHembras()}"
                                                   th:value="${rango.getDiurno().getMatriculaRangoTotalHembras()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="menos15Hembras"> <strong>Menores de 15 años
                                                hembras</strong></label>
                                            <input type="text" class="form-control" id="menos15Hembras"
                                                   name="menos15Hembras"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getHembrasMenos15()}"
                                                   th:value="${rango.getDiurno().getHembrasMenos15()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="entre15_16Hembras"> <strong>Entre 15 y 16 años hembras</strong></label>
                                            <input type="text" class="form-control" id="entre15_16Hembras"
                                                   name="entre15_16Hembras"
                                                   disabled="true"
                                                   th:placeholder="${rango.getDiurno().getHembrasEntre15_16()}"
                                                   th:value="${rango.getDiurno().getHembrasEntre15_16()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="mas16Hembras"> <strong>Mayores de 16 años
                                                hembras</strong></label>
                                            <input type="text" class="form-control" id="mas16Hembras"
                                                   name="mas16Hembras"
                                                   th disabled="true"
                                                   th:placeholder="${rango.getDiurno().getHembrasMayores16()}"
                                                   th:value="${rango.getDiurno().getHembrasMayores16()}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="tabs4-2">
                                <div class="container-fluid text-center">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for="matriculaTotalCPT"> <strong>Matrícula Total</strong></label>
                                            <input type="text" class="form-control" id="matriculaTotalCPT"
                                                   name="matriculaTotalCPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getMatriculaRangoTotal()}"
                                                   th:value="${rango.getCpt().getMatriculaRangoTotal()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="menos15CPT"> <strong>Menores de 15 años</strong></label>
                                            <input type="text" class="form-control" id="menos15CPT"
                                                   name="menos15CPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getTotalMenos15()}"
                                                   th:value="${rango.getCpt().getTotalMenos15()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="entre15_16CPT"> <strong>Entre 15 y 16 años</strong></label>
                                            <input type="text" class="form-control" id="entre15_16CPT"
                                                   name="entre15_16CPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getTotalEntre15_16()}"
                                                   th:value="${rango.getCpt().getTotalEntre15_16()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="mas16CPT"> <strong>Mayores de 16 años</strong></label>
                                            <input type="text" class="form-control" id="mas16CPT"
                                                   name="mas16CPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getTotalMayores16()}"
                                                   th:value="${rango.getCpt().getTotalMayores16()}"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col">
                                            <label for="matriculaTotalHembrasCPT"> <strong>Matrícula Total
                                                Hembras</strong></label>
                                            <input type="text" class="form-control" id="matriculaTotalHembrasCPT"
                                                   name="matriculaTotalHembrasCPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getMatriculaRangoTotalHembras()}"
                                                   th:value="${rango.getCpt().getMatriculaRangoTotalHembras()}"
                                                   required>
                                        </div>


                                        <div class="col">
                                            <label for="menos15HembrasCPT"> <strong>Menores de 15 años hembras</strong></label>
                                            <input type="text" class="form-control" id="menos15HembrasCPT"
                                                   name="menos15HembrasCPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getHembrasMenos15()}"
                                                   th:value="${rango.getCpt().getHembrasMenos15()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="entre15_16HembrasCPT"> <strong>Entre 15 y 16 años
                                                hembras</strong></label>
                                            <input type="text" class="form-control" id="entre15_16HembrasCPT"
                                                   name="entre15_16HembrasCPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getHembrasEntre15_16()}"
                                                   th:value="${rango.getCpt().getHembrasEntre15_16()}"
                                                   required>
                                        </div>

                                        <div class="col">
                                            <label for="mas16HembrasCPT"> <strong>Mayores de 16 años
                                                hembras</strong></label>
                                            <input type="text" class="form-control" id="mas16HembrasCPT"
                                                   name="mas16HembrasCPT"
                                                   disabled="true"
                                                   th:placeholder="${rango.getCpt().getHembrasMayores16()}"
                                                   th:value="${rango.getCpt().getHembrasMayores16()}"
                                                   required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row mt-4 container">
                            <a th:href="@{/caratula_prov}"
                               class="btn btn-success">
                                <img th:src="@{/img/caratula.png}"> Carátula</span>
                            </a>

                            <a th:href="@{/personal_prov}"
                               class="btn btn-danger ml-2">
                                <img th:src="@{/img/personal.png}"> Personal</span>
                            </a>

                            <a th:href="@{/ficha_prov}"
                               class="btn btn-primary ml-2">
                                <img th:src="@{/img/ficha.png}"> Ficha</span>
                            </a>

                            <a th:href="@{/ficha_turquino_prov}"
                               class="btn btn-info ml-2">
                                <img th:src="@{/img/ficha_turquino.png}"> Ficha Turquino</span>
                            </a>

                            <a th:href="@{/terminado_prov}"
                               class="btn btn-outline-danger ml-2">
                                <img th:src="@{/img/graduados.png}"> A. Terminado</span>
                            </a>

                            <a th:href="@{/iniciado_prov}"
                               class="btn btn-outline-success ml-2">
                                <img th:src="@{/img/iniciado.png}"> A. Iniciado</span>
                            </a>

                            <a th:href="@{/mat_inicial_prov}"
                               class="btn btn-outline-info ml-2">
                                <img th:src="@{/img/mat_inicial.png}"> Mat. Inicial</span>
                            </a>
                        </div>
                    </div>

                </form>

            </section>
        </div>

    </div>

    <div th:replace="/plantillas/plantilla :: footer">&nbsp;</div>

</div>
</body>
</html>


