<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantillas/plantilla :: css-js"></head>

<body class="hold-transition skin-red sidebar-mini tipografia-contenido">
<div class="wrapper">

    <div th:replace="/plantillas/plantilla :: diseño_pagina">&nbsp;</div>

    <th:block th:include="/plantillas/menu_opciones_error"></th:block>

    <!-- CONTENIDO DE LA PAGINA -->
    <div>
        <section class="main-footer titulo">
            <strong>[Ayuda] Especialidades de estudio</strong>
        </section>

        <div class="content-wrapper">
            <section class="container-fluid padding-contenido">

                <div class="container-fluid">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong><span
                                class="tipografia-error">Ejemplo del formulario donde se registran nuevas especialidades.</span></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <form>
                    <div class="col-md-3 col-sm-5">
                        <label for="codigo"> <strong>Código</strong></label>
                        <input type="text" class="form-control" id="codigo" name="codigo" disabled="true" required>
                    </div>

                    <div class="col-md-7 col-sm-7 mt-2">
                        <label for="familias"><strong>Familia</strong></label>
                        <select class="form-control" id="familias" name="familias" required>
                            <option value="">Seleccione...</option>
                            <option th:each="fam : ${lst_familias}"
                                    th:text="${fam.getTipoFamilia()}"
                                    th:value="${fam.getIdFamilia()}"></option>
                        </select>
                    </div>

                    <div class="col-md-10 mt-2">
                        <label for="nombreEsp"><strong>Nombre de la especialidad</strong></label>
                        <input type="text" class="form-control" id="nombreEsp" name="nombreEsp" disabled="true"
                               required>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 mt-2">
                                <label for="niveles"><strong>Nivel</strong></label>
                                <select class="form-control" id="niveles" name="niveles" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="niv : ${lst_niveles}"
                                            th:text="${niv.getTipoNivel()}"
                                            th:value="${niv.getIdNivel()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="container-fluid mt-4">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><span class="tipografia-error">Es importante conocer que exclusivamente las personas con rol de Administrador podrán gestionar las especialidades de estudio.
                            Las mismas deberán estar actualizadas pues serán las utilizadas por los usuario del sistema!</span></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><span class="tipografia-error">Para agregar nuevas especialidades, cliquea en el menú principal [Especialidades] y luego [Agregar]. Una vez completado los datos correctamente, la especialidad se visualizará en el listado de especialidades!</span></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><span class="tipografia-error">El código numérico de la especialidad deberá ser único y corresponder con el tipo de nivel!</span></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            </section>
        </div>

    </div>

    <div th:replace="/plantillas/plantilla :: footer">&nbsp;</div>

</div>
</body>
</html>




