<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css-js">

    <title>Expedientes ETP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="utf-8">
    <meta name="description" content="Proyecto de Tesis">
    <meta name="author" content="Roylan A. Bressler Camps">
    <link rel="icon" th:href="@{/img/logo.png}">

    <!------------------------------ CSS -------------------------------->
    <!-- CSS Diseño Página -->
    <link th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/pagina/css/pagina.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/pagina/css/interfaz.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/pagina/css/colores.css}" rel="stylesheet">

    <!-- CSS navbar-toggle -->
    <link th:href="@{/bootstrap/navbar/estilo-navbar.css}" rel="stylesheet">

    <!-- CSS Datatables -->
    <link th:href="@{/bootstrap/datatables/datatables.css}" rel='stylesheet' type='text/css'/>

    <!-- CSS Select ComboBox -->
    <link th:href="@{/bootstrap/select/plugins/select2.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/bootstrap/select/plugins/select2-bootstrap.css}" rel='stylesheet' type='text/css'/>

    <!-- CSS Tabs -->
    <link th:href="@{/bootstrap/tabs/css/tabs.css}" rel='stylesheet' type='text/css'/>

    <!------------------------------ JavaScript -------------------------------->
    <!-- jQuery y Bootstrap -->
    <script th:src="@{/bootstrap/jquery/jquery.js}"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.js}"></script>

    <script type="text/javascript">
        function confirmarEliminar() {

            var respuesta = confirm("¿Estás seguro de eliminar este elemento?");

            if (respuesta == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <!-- JS Select ComboBox -->
    <script th:src="@{/bootstrap/select/js/select.js}"></script>
    <script type="text/javascript">
        function Select2Test() {
            $("#centros").select2();
            $("#años").select2();
            $("#especialidades").select2();
            $("#estado").select2();
            $("#roles").select2();
            $("#mcpios").select2();
            $("#cursos").select2();
            $("#niveles").select2();
            $("#familias").select2();
            $("#escolaridades").select2();
            $("#duraciones").select2();
            $("#sectores").select2();
        }

        $(document).ready(function () {
            LoadSelect2Script(Select2Test);
        });
    </script>

    <!-- Alertas -->
    <script>
        function hide() {
            document.getElementById("error").style = "display:none";
        }

        setInterval(hide, 13000);
    </script>
    <script>
        function hide() {
            document.getElementById("exito").style = "display:none";
        }

        setInterval(hide, 3700);
    </script>

    <!-- JS arrow-up -->
    <script type="text/javascript" th:src="@{/bootstrap/arrow-up/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/arrow-up/easing.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({easingType: 'easeOutQuart'});
        });
    </script>

    <!-- DataTable -->
    <script th:src="@{/bootstrap/datatables/datatables.js}"></script>
    <script>
        $(document).ready(function () {
            $('#tablaCentros').DataTable();
            $('#tablaEspecialidadesCentros').DataTable();
            $('#tablaEspecialidades').DataTable();
            $('#tablaUsuarios').DataTable();
            $('#tablaExpedientesETP').DataTable();
            $('#tablaPlanillasDatos').DataTable();
            $('#tablaEspAnteriores').DataTable();
            $('#tablaEspActuales').DataTable();
        });
    </script>

    <!-- Tabs -->
    <script th:src="@{/bootstrap/tabs/js/tabs.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            <!-- Tabs Especialidades Actual y Anterior -->
            $("#tabs1").tabs();
            <!-- Tabs Procedencia Territorial -->
            $("#tabs2").tabs();
            <!-- Tabs Personal -->
            $("#tabs3").tabs();
            <!-- Tabs Carátula -->
            $("#tabs4").tabs();
            $("#tabs5").tabs();
            $("#tabs6").tabs();
            $("#tabs7").tabs();
            $("#tabs8").tabs();
            <!-- Tabs Años Estudio Planillas -->
            $("#tabs9").tabs();
            $("#tabs10").tabs();
            $("#tabs11").tabs();
            <!-- Tabs Ficha -->
            $("#tabs12").tabs();
        });
    </script>

    <!-- Menúes -->
    <script th:src="@{/bootstrap/pagina/js/menues.js}"></script>
</head>

<body class="skin-red sidebar-mini tipografia-contenido">

<div class="wrapper">

    <div th:fragment="diseño_pagina">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">ETP</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Expedientes </b>ETP</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <img th:src="@{/img/menu.png}" title="Desplegar/Ocultar Menú" class="user-image" alt="Menú">
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu estilo-menu">
                    <ul class="nav navbar-nav ">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu" th:object="${usuario_autenticado.getRol()}">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img th:src="'/img/' + *{getTipoRol()} + '.jpg'"
                                     class="user-image"
                                     alt="Imagen de Usuario">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs"><strong>[[${#httpServletRequest.getSession().getAttribute("usuarioAutenticado").getNombUsuario()}]]</strong></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img th:src="'/img/' + *{getTipoRol()} + '.jpg'"
                                         class="img-circle"
                                         th:title="'Rol de: '+ *{getTipoRol()}">
                                    <p>
                                        <span>[[${#httpServletRequest.getSession().getAttribute("usuarioAutenticado").getNombDescriptivo()}]]</span>
                                        <small><span>[[${#httpServletRequest.getSession().getAttribute("usuarioAutenticado").getMcpio().getNombMunicipio()}]]</span>
                                        </small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a th:href="@{/lst_usuarios}" class="btn btn-warning">Editar Perfiles</a>
                                    </div>
                                    <div class="pull-right">
                                        <form th:action="@{/logout}" method="post">
                                            <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li class="dropdown">
                            <!-- Menu Toggle Button -->
                            <a href="#" data-toggle="control-sidebar" title="Información"><img
                                    th:src="@{/img/info.png}"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <div th:fragment="footer">
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <strong>Dpto. Planeamiento y Estadísticas</strong>
            </div>
            <strong>
                <a href="https://www.mined.gob.cu" target="_blank">Ministerio de Educación</a> [2020]
            </strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active">
                    <a href="#control-sidebar-home-tab" data-toggle="tab">
                        <i class="fa fa-home">
                        </i>
                        <hr class="rayita_b">
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <ul class="control-sidebar-menu" data-widget="tree">
                        <li>
                            <a th:href="@{/ayuda_introduccion}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Introducción
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_roles}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Roles de usuarios
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_cuentas}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Cuentas de usuarios
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_centro}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Centros
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_esp_centro}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Especialidad de centro
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_especialidad}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Especialidad
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/ayuda_flujo}" class="control-sidebar-subheading">
                                     <span class="mr-2">
                                        <img class="btn_accion btn-warning" th:src="@{/img/help.png}">
                                     </span>Flujo de trabajo
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="control-sidebar-bg"></div>
    </div>
</div>
</body>
</html>