<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantillas/plantilla :: css-js"></head>

<body class="hold-transition skin-red sidebar-mini tipografia-contenido">
<div class="wrapper">

    <div th:replace="/plantillas/plantilla :: diseño_pagina">&nbsp;</div>

    <th:block th:include="/plantillas/menu_opciones_especialidades"></th:block>

    <!-- CONTENIDO DE LA PAGINA -->
    <div>
        <section class="main-footer titulo">
            <strong>Especialidades de Estudio en Politécnicos [Resoluciones]</strong>
        </section>

        <div class="content-wrapper">
            <section class="container-fluid padding-contenido">

                <div class="container-fluid">
                    <div class="row">
                        <div class="text-right col-12">

                            <a th:href="@{/especialidad_pdf}"
                               class="exportar btn-outline-warning" title="Exportar a PDF"><img
                                    th:src="@{/img/pdf.png}">
                            </a>

                            <a th:href="@{/especialidad_excel}"
                               class="exportar btn-outline-warning" title="Exportar a Excel"><img
                                    th:src="@{/img/excel.png}">
                            </a>

                            <a th:href="@{/nueva_especialidad}" class="ml-2 btn btn-success"
                               title="Agregar Especialidad"
                               th:hidden="${ocultar}">+ Agregar
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped text-center tipografia-contenido mt-1"
                       id="tablaEspecialidades">
                    <thead>
                    <tr class="estilo-tabla btn-primary">
                        <th>No.</th>
                        <th>Código</th>
                        <th>Nombre de Especialidad</th>
                        <th>Familia</th>
                        <th>Nivel</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="text-truncate" th:each="lst,i : ${lst_especialidades}">
                        <td th:text="${i.index+1}">Datos</td>
                        <td th:text="${lst.getCodEspecialidad()}">Datos</td>
                        <td th:text="${lst.getNombEspecialidad()}">Datos</td>
                        <td th:text="${lst.getFamilia().getTipoFamilia()}">Datos</td>
                        <td th:text="${lst.getNivel().getTipoNivel()}">Datos</td>
                        <td>
                            <a th:href="@{/editar_especialidad(idEsp=${lst.getIdEspecialidad()})}"
                               class="btn_accion btn-primary" title="Editar"><img th:src="@{/img/editar.png}"/></a> <a
                                th:href="@{/del_especialidad(idEsp=${lst.getIdEspecialidad()})}"
                                class="btn_accion btn-danger" onclick="return confirmarEliminar()" title="Eliminar"><img
                                th:src="@{/img/eliminar.png}"/>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </section>
        </div>

    </div>

    <div th:replace="/plantillas/plantilla :: footer">&nbsp;</div>

</div>
</body>
</html>