<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantillas/plantilla :: css-js"></head>

<body class="hold-transition skin-red sidebar-mini tipografia-contenido">
<div class="wrapper">

    <div th:replace="/plantillas/plantilla :: diseño_pagina">&nbsp;</div>

    <th:block th:include="/plantillas/menu_opciones_centros"></th:block>

    <div>
        <section class="main-footer titulo">
            <strong>Cambio de contraseña</strong>
        </section>

        <div class="content-wrapper">
            <section class="container-fluid padding-contenido">

                <div th:if="${error}" class="container-fluid">
                    <div id="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><span class="tipografia-error" th:text="${mensaje_error}"/></strong>
                        <button type="button" class="close tipografia-cerrar-error" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <form th:action="@{/cambiar_password(idU=${datos_usuario.getIdUsuario()})}" method="post" >


                    <div class="col-md-4 col-sm-4 mt-4">
                        <label for="password"> <strong>Contraseña Actual</strong></label>
                        <input type="password" class="form-control" id="password" name="password"
                               autocomplete="new-password" required>
                    </div>


                    <div class="col-md-4 col-sm-4 mt-4">
                        <label for="password1"> <strong>Nueva Contraseña</strong></label>
                        <input type="password" class="form-control" id="password1" name="password1"
                               autocomplete="new-password" required>
                    </div>

                    <div class="col-md-4 col-sm-4 mt-4">
                        <label for="password2"> <strong>Repita Contraseña</strong></label>
                        <input type="password" class="form-control" id="password2" name="password2"
                               autocomplete="new-password" required>
                    </div>

                    <div class="text-right col-md-12 col-sm-12 mt-5">
                        <button class="btn btn-primary" type="submit"><img th:src="@{/img/editar.png}"/> Editar
                        </button>
                    </div>

                </form>

            </section>
        </div>

    </div>

    <div th:replace="/plantillas/plantilla :: footer">&nbsp;</div>

</div>
</body>
</html>